@charset "utf-8";
/* CSS Document */
/*公用样式===============================================*/
body,h1,h2,h3,h4,h5,p,ul,li,dl,dt,dd,img,input,b,table,tr,td,ol{margin:0; padding:0; border:0; list-style:none;}
a:link,a:visited{text-decoration:none;}
.box{ background-color:#e94b4e;}
.banner_wrap{height:524px; width:100%; background:url(../images/tuhao-img/images/banner_01.png) center top no-repeat;}
.main_wrap{min-height:100px; height:auto; width:1000px; margin:0 auto; background-color:#edebe2;}
.main_one{height:1560px; width:1000px;}
.main_one h2 img{height:102px; width:1000px;}
.main_cont{height:1560px; height:auto; width:974px; padding:20px 13px;}
.main_cont .main_list{height:165px; width:315px; float:left; background-color:#d9d7d0;margin:0 14px 14px 0;}
.main_cont dl{height:108px; width:295px; float:left; padding:15px 10px 5px;}
.main_cont dl .mc{height:73px; width:25px; float:left; margin-right:5px; display:inline; float:left; background:url(../images/tuhao-img/images/icon.jpg) left top no-repeat; padding:31px 0px 0 19px; color:#fff;}
.main_cont dl .mc1{height:73px; width:29px; padding:31px 0px 0 15px;}
.main_cont dd{ float:left;}
.main_cont dd img{height:108px; width:81px; margin-right:10px; display:inline;}
.main_cont .font{height:108px; width:154px;}
.main_cont .font a{ font-size:15px; font-weight:normal; color:#333; height:28px; display:inline-block;}
.main_cont .font p{font-size:13px; color:#666;}
.main_cont .font .js{ line-height:18px; margin-top:8px; color:#969696; height:54px; overflow:hidden;}
.main_cont span{height:25px; width:81px; display:inline-block; line-height:25px; text-align:center; font-size:13px; background-color:#e94b4e; color:#fff; margin-left:59px;} 
.main_cont .yd{height:25px; line-height:25px; width:72px; display:inline-block; margin-left:10px; background-color:#fc9c34; text-align:center; color:#fff; font-size:13px;}
.main_cont .yd:hover{ background-color:#6a8ef6;}
.main_cont .tp{height:25px; line-height:25px; width:72px; display:inline-block; margin-left:10px; background-color:#efd441; text-align:center; color:#fff; font-size:13px;}
.main_cont .tp:hover{ background-color:#6a8ef6;}
.main_two{height:560px; width:1000px;}
.main_two h2 img{height:66px; width:1000px;}
.main_zz{height:444px; width:974px; padding:20px 13px;}
.main_zz dl{height:55px; width:234px; background-color:#d9d7d0; padding:12px 0; float:left; margin:0 12px 12px 0;}
.main_zz dl dt{height:55px; width:30px; line-height:58px; text-align:center; float:left; color:#fff; font-size:20px;}
.main_zz dl .tx{height:55px; width:55px; margin-right:10px; float:left;}
.main_zz dl .p1{height:25px; line-height:25px; font-size:14px; color:#414040;}
.main_zz dl .p2{height:30px; line-height:30px; color:#e94b4e;}
.main_three{height:600px; width:974px; padding:0 13px;}
.main_three .title_1{height:45px; width:240px; background-color:#fc9c34; line-height:45px; color:#fff; font-weight:normal; padding-left:10px;}
.main_three .cont_1{ line-height:30px; font-size:14px; margin:10px 0 10px 10px;}
.main_three .jb{height:110px; width:974px;}
.main_three .jb span{height:70px; width:128px; display:inline-block; line-height:70px; text-align:center; background-color:#fd6568; font-size:18px; color:#fff; border-radius:10px; margin:20px 20px 20px 0; float:left;}
.main_three .jb p{height:70px; width:128px; display:inline-block;text-align:center; background-color:#fd6568; font-size:18px;color:#fff; border-radius:10px; margin:20px 20px 20px 0; float:left;}
.main_three .jb p b{height:20px; font-weight:normal; line-height:35px;}
.main_three .jb p i{ font-style:normal; font-size:14px;}
.main_three .jb p.p1{ background-color:#39de9e;}
.main_three .jb p.p2{ background-color:#57a5e1;}
.main_three .jb p.p3{ background-color:#b857e1;}
.main_three .jb p.p4{ background-color:#6ae157;}
.main_three .jb p.p5{ background-color:#fd6568;}
.main_three .jb p.p6{ background-color:#fd7c7f;}
.main_three .jb p.p7{ background-color:#fa878a;}
.main_three .jb p.p8{ background-color:#fd9b9d;}
.main_three .jb p.p9{ background-color:#fbacae;}
.main_four{height:195px; width:974px; background-color:#e5e4dd; padding:0 13px;}
.main_four h4{height:78px; line-height:85px; border-bottom:5px solid #dedcd4; font-size:30px; font-weight:normal; }
.main_four h4 span{height:78px; width:130px; border-bottom:5px solid #fc9c34; display:inline-block;background:url(../images/tuhao-img/images/icon2_03.jpg) left center no-repeat;padding-left:65px; }
.lp{height:64px; width:974px; margin-top:24px;}
.lp dt{height:64px; width:75px; background:url(../images/tuhao-img/images/icon3_03.jpg) center top no-repeat; float:left;}
.lp dd{ float:left;}
.lp .srk textarea{height:62px; width:736px; border:1px solid #d8d8d8; background-color:#fff; margin-right:10px;}
.lp dd a{height:64px; width:90px; line-height:64px; text-align:center; display:inline-block; background-color:#fd7c7f; color:#fff; font-size:20px; border-radius:5px;}
.lp dd a:hover{ background-color:#ff5559;}
.main_five{min-height:100px; height:auto; width:974px; padding:0 13px; background-color:#edebe2;}
.main_five_cont{height:109px; width:974px; border-bottom:1px dashed #d8d8d8; margin-top:20px;}
.main_five_cont dt{height:109px; width:65px; float:left; margin-right:15px;}
.main_five_cont dt p{ height:35px; line-height:35px; width:65px; font-size:14px; text-align:center;}
.main_five_cont dd{height:109px; width:870px; float:left;}
.main_five_cont dd .tit_1{height:26px; line-height:26px; font-size:14px;}
.main_five_cont dd .cont_2{ line-height:20px; font-size:13px; color:#666;height:55px; overflow:hidden;}
.main_five_cont dd .hf{ font-size:14px; margin-left:600px; color:#a9a9a9;}
.main_five_cont dd .hf i{ font-style:normal; color:#F30;}
.main_five_cont dd .hf a:hover{color:#ff7e80;}
.page{height:15px; line-height:15px; width:320px; padding:30px 0 30px 490px; clear:both;}
.page a{margin-right:15px; color:#9e9e9e; display:inline-block; text-align:center;}
.page a.bg{height:15px; width:15px;  background-color:#ff893b; color:#fff;}



















