<div class="p_top_wrap">
    	<div class="p_top_1000">
        	<h1><a href="#"><img src="">图标</a></h1>
            <div class="search"><input name="" type="text"><a href="#"></a></div>
            <div class="newTop_div1 P_top_div1">
            	<a href="#" class="newTop_a1"><span class="newTop_span1">5</span></a>
                <a href="#" class="newTop_a2">
                	<dl>
                    	<dt><img src="__PUBLIC__/images/images/new_top_tu1_03.jpg"></dt>
                        <dd><p>独孤求独就爱流浪</p><p class="nowTop_vip">VIP用户</p></dd>
                    </dl>
                 </a>
        <!--消息===交互====================================-->
        	<div class="top_news">
            	<!--<p class="number1">5</p>-->
                <div class="news_1">
                	<span><img src="__PUBLIC__/images/images/new_top_tu1_03.jpg"></span>
                	<dl class="news_list">
                    	<dt><p>系统管理员</p><i>2013-12-12</i></dt>
                        <dd>
                        	<p class="news_tit"><strong>《我的美女师姐》</strong>获得首席推荐位</p>
                            <a href="#" class="news_cet">恭喜您的作品获得封面首席推荐位，请及时更新，有任何为题可以直接和相应的责编进行处理，创别书城感谢您的关心和支持。</a>
                            
                        </dd>
                    </dl>
                </div>
                <div class="news_1">
                	<span><img src="__PUBLIC__/images/images/new_top_tu1_03.jpg"></span>
                	<dl class="news_list">
                    	<dt><p>系统管理员</p><i>2013-12-12</i></dt>
                        <dd>
                        	<p class="news_tit"><strong>《我的美女师姐》</strong>获得<i>我的战士</i>的书评</p>
                            <p class="news_cet">您的作品《我的美女师姐》获得我的战士的书评，书评的标题为<i>《一本绝世好书》</i>，<a href="#">>>点击请查看</a></p>
                            
                        </dd>
                    </dl>
                </div>
                <div class="news_1">
                	<span><img src="__PUBLIC__/images/images/new_top_tu1_03.jpg"></span>
                	<dl class="news_list">
                    	<dt><p>系统管理员</p><i>2013-12-12</i></dt>
                        <dd>
                        	<p class="news_tit"><strong>《我的美女师姐》</strong>获得首席推荐位</p>
                            <a href="#" class="news_cet">恭喜您的作品获得封面首席推荐位，请及时更新，有任何为题可以直接和相应的责编进行处理，创别书城感谢您的关心和支持。</a>
                            
                        </dd>
                    </dl>
                </div>
                <p class="news_page"><a href="#">上一页</a><a href="#">下一页</a></p>
            </div>
            <div class="top_news0"><P></P></div>
             <!--用户===交互======================================-->
            <div class="new_user"><a href="#" class="user1">阅读记录</a><a href="#" class="user2">我的书架</a><a href="#" class="user3">我的书评</a><a href="#" class="user4">我的订阅</a><a href="#" class="user5">作品管理</a><a href="#" class="user6">我的作品</a><a href="#" class="user7">我的财务</a><a href="#" class="user8">我的消息</a><a href="#" class="user11"><i>进入我的首页</i></a><a href="#" class="user9">设置</a><a href="#" class="user10">退出</a>
            </div>
        </div>
        <div class="newTop_div2">
        	<a href="#" class="newTop_mycz">创作</a><a href="#" class="newTop_a2">记录</a>
        	<div class="newTop_cz"><a href="#" class="cz1">作品管理</a><a href="#" class="cz2">发表作品</a><a href="#" class="cz3">申请作者</a><a href="#" class="cz4">我的作品</a><a href="#" class="cz5">作者福利</a><a href="#" class="cz6">网编福利</a></div>
            <div class="newTop_jl">
            	<div class="newTop_jl_cont">
                    	<p class="newTop_jl_contp1"><span class="jl_week">一周内</span><i>管理阅读记录内容</i></p>
                        <ul class="jl_list1">
                        	<li>
                            	<p class="jl_list1_p1"><span>《一个宅男的幸福生活》</span><b>[112章未读]</b><a href="#"><img src="__PUBLIC__/images/images/new_top_sc_03.png"></a></p>
                            	<p class="jl_list1_p1"><strong>阅读至231章  我记得我们在那见过,你记得吗？</strong><a href="#" class="jl_blue">继续阅读</a></p>
                            </li>
                            <li>
                            	<p class="jl_list1_p1"><span>《冷帝的妖娆王妃》</span><b>[12章未读]</b><a href="#"><img src="__PUBLIC__/images/images/new_top_sc_03.png"></a></p>
                            	<p class="jl_list1_p1"><strong>阅读至231章  我记得我们在那见过</strong><a href="#" class="jl_blue">继续阅读</a></p>
                            </li>
                        </ul>
             			<p><span class="jl_week jl_week1">更早</span></p>
                        <ul class="jl_list1">
                        	<li>
                            	<p class="jl_list1_p1"><span>《一个宅男的幸福生活》</span><b>[112章未读]</b><a href="#"><img src="__PUBLIC__/images/images/new_top_sc_03.png"></a></p>
                            	<p class="jl_list1_p1"><strong>阅读至231章  我记得我们在那见过,你记得吗？</strong><a href="#" class="jl_blue">继续阅读</a></p>
                            </li>
                            <li>
                            	<p class="jl_list1_p1"><span>《冷帝的妖娆王妃》</span><b>[12章未读]</b><a href="#"><img src="__PUBLIC__/imagesimages/images/new_top_sc_03.png"></a></p>
                            	<p class="jl_list1_p1"><strong>阅读至231章  我记得我们在那见过</strong><a href="#" class="jl_blue">继续阅读</a></p>
                            </li>
                        </ul>
                        <p class="jl_more"><a href="#">查看更多</a></p>
                </div>
            </div>
        </div>
        </div>
        
        </div>